{% extends "main.html" %}

{% block content %}
    {% if form.errors %}
        <p class="error">Your username and password didn't match. Please try again.</p>
    {% endif %}
    <div id="form" class="form">
        <form method="POST" action="/login/">
           {% csrf_token %}
           <table>
                <tr>
                    <td>Username</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
            <input type="hidden" name="next" value="{{ next }}" />
            {{ login_form }}
            <input type="submit">
        </form>
    </div>
{% endblock %}




